@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Keyword Expansion</h1>
    <p>Espansione delle keyword tramite i servizi di Google Suggest, Bing, DuckDuckGo e Google Realtime Trends.</p>
</div>
