@page
@model App.Pages.SuggestModel
@{
    ViewData["Title"] = "Suggest";
}

<form method="post">
    <h4>Seleziona in che modo generare le keyword</h4>
    <div class="form-check">
        <input class="form-check-input radio-btn" name="suggest-generation-type" type="radio" id="keyword-radio" checked required />
        <label class="form-check-label" for="keyword-radio">Keyword</label>
    </div>
    <div class="form-check">
        <input class="form-check-input radio-btn" name="suggest-generation-type" type="radio" id="file-radio" required />
        <label class="form-check-label" for="file-radio">File</label>
    </div>
    <hr />
    <div class="form-floating col-4 mb-2">
        <input type="text" class="form-control" id="keyword" asp-for="Input.Keyword" placeholder="Keyword">
        <label for="keyword">Keyword</label>
        <small class="small invalid-feedback" id="keyword-invalid-feedback"></small>
    </div>
    <div class="form-group col-4 mb-2">
        <select id="select-culture" class="form-control" aria-label="countries" asp-items="Model.Cultures" asp-for="Input.Culture">
            <option value="">-- Seleziona Cultura --</option>
        </select>
        <small class="small invalid-feedback" id="culture-invalid-feedback"></small>
    </div>
    <hr />
    <div class="form-group col-4 mb-2" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Formato file CSV" data-bs-content="Il formato delle colonne del file CSV deve essere del tipo (id, keyword, country, lang)">
        <label for="keyword">File</label>
        <input type="file" class="form-control" id="file" asp-for="Input.File" placeholder="File">
        <small class="small invalid-feedback" id="file-invalid-feedback"></small>
    </div>
    <hr />
    <div class="form-floating col-4 mb-2">
        <input type="number" class="form-control" min="0" value="1" id="depth" asp-for="Input.Depth" placeholder="Depth" required>
        <label for="depth">Prodondita' di espansione</label>
        <small class="small text-muted" id="depth-info">Inserire 0 per non espandere a nessun livello</small>
    </div>
    <hr />
    <div class="form-group" required>
        <div class="form-check form-switch">
            <input class="form-check-input switch" type="checkbox" asp-for="Input.IsGoogleSuggest" id="google-suggest" />
            <label class="form-check-label" for="google-suggest">Google Suggest</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input switch" type="checkbox" asp-for="Input.IsBingSuggest" id="bing-suggest" />
            <label class="form-check-label" for="bing-suggest">Bing Suggest</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input switch" type="checkbox" asp-for="Input.IsDuckDuckGoSuggest" id="duckduckgo-suggest" />
            <label class="form-check-label" for="duckduckgo-suggest">DuckDuckGo Suggest</label>
        </div>
        <small class="small invalid-feedback" id="service-invalid-feedback"></small>
    </div>
    <hr />
    <button type="submit" class="btn btn-outline-primary" id="submit-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154l.215.338 7.494-7.494Z" />
        </svg>
        Invia
    </button>
</form>
<hr />

@section Scripts
{
<script src="/js/suggest.js" type="text/javascript"></script>
}
